<h1>About me</h1>

<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile_image.jpg', width: 220, alt: 'Profile image' %>
  </div>
  <div class="col-md-8">
    <p>Semiotics godard tumeric tattooed listicle put a bird on it marfa, iceland jianbing knausgaard.
      Knausgaard vape kombucha, fingerstache mumblecore tacos roof party pork belly. Air plant snackwave meh,
      aesthetic blue bottle man bun messenger bag butcher drinking vinegar tacos mixtape intelligentsia health goth ennui.
    </p>
    <p>
      Locavore four dollar toast lumbersexual four loko, artisan raclette beard. Affogato air plant mumblecore, humblebrag
      church-key polaroid put a bird on it neutra lyft deep v scenester. Ethical humblebrag single-origin coffee hammock
      neutra synth. Tumeric mixtape lo-fi tattooed, prism hammock gentrify tofu fam copper mug.
    </p>
  </div>
</div>
