<h1>Would you like to work together?</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h2>Links</h2>
    <p>
      <a href="https://github.com/olegnikitashin">Github</a>
    </p>
    <p>
      <a href="https://github.com/olegnikitashin">Twitter</a>
    </p>
    <h2>Email</h2>

    <h2>Phone</h2>
    <p><%= number_to_phone "5555555"%></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.8909197768287!2d30.294461851863282!3d59.93395216934962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696311eeef52d69%3A0xf24b3bb50265288c!2sMAXIMUM+Upravlyayushchaya+Kompaniya!5e0!3m2!1sen!2sru!4v1495558345339"
            width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
