<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Asymmetrical narwhal master cleanse mustache retro.
    Listicle cornhole seitan chambray, pok pok cliche lyft.
    Organic echo park keffiyeh marfa, vaporware next level iPhone
    post-ironic shoreditch.</p>
  <p class="lead">
    <%= link_to 'About Me', about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
