.card-block {
  color: #000;
  text-align: left;
  text-shadow: none;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.auth-links {
  margin-top: 10px;
  a, p {
    color: #000;
    text-shadow: none;
  }
}

.app-nav span {
  margin-left: 12px;
  margin-right: 12px;
}