.card-block {
  color: #000;
  text-align: left;
  text-shadow: none;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.auth-links {
  margin-top: 10px;
  a, p {
    color: #000;
    text-shadow: none;
  }
}

.app-nav {
  span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-link {
    margin-left: 10px;
    margin-right: 10px;
    color: #FFF;
  }
  .nav-link:nth-of-type(1) {
    margin-right: 0;
  }
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image_url('home_bg.png') no-repeat;
  background-size: cover;
}

.app-footer {
  color: #FFF;
}

.login {
  margin-top: 30px;
  margin-bottom: 30px;
  .checkbox input {
    margin-right: 5px;
  }
}

.tech-news {
  color: #000;
  margin: 20px;
  text-shadow: none;
  a {
    color: green;
  }
  > .card {
    padding: 20px;
  }
}

.app-card-container {
  color: #333;
  text-shadow: none;
  text-align: left;
  > .card {
    padding: 40px
  }
  a {
    color: #333;
  }
}

.profile-img {
  border: 1px solid rgba(51, 51, 51, 0.38);
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}